<div class="row text-center alert alert-info">
    <div class="col">
        <p>@Game.Name</p>
        <p>@Game.Genre</p>
        <p>@Game.ReleaseDate</p>
    </div>
</div>

@code {
    [Parameter] public Game Game { get; set; }
}
