@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<GameListTable Games="otherGames"></GameListTable>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


    private List<Game> otherGames;
    /// <summary>
    /// Метод отвечает за данные до отрисовки
    /// </summary>
    /// <returns></returns>
    protected override void OnInitialized()
    {
        otherGames = new List<Game>()
        {
        new Game(){ Name = "Game 1", Genre = "Simulator", ReleaseDate = new DateTime(2018,11,19)},
        new Game(){ Name = "Game 2", Genre = "Action/RPG", ReleaseDate = new DateTime(2015,5,18)},
        new Game(){ Name = "Game 3", Genre = "Action-Adventure", ReleaseDate = new DateTime(2007,11,19)},
        };
    }

}
