@page "/"
@*@inject GameIndustry.Repository.IRepository repository*@

<div class="row">
    <div class="col text-center">
        <h2>Welcome to our Game Industry Page</h2>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all page in MOCK Database</h2>
    </div>
</div>
<GameListTable Games="games">
    @*<NullList>
        <tr><span style="text-align:center; color:red; font-weight:bolder">Element loading...</span></tr>
    </NullList>
    <EmptyList>
        <tr><span style="text-align:center; color:blue">No elements in array</span></tr>
    </EmptyList>*@
</GameListTable>
<IndividualGame Game="oneGameToShow" DisplayButtons="true" IsTable="false" SwitchGame="ShowNewGame" />


