@page "/"

<div class="row">
    <div class="col text-center">
        <h2>Welcome to our Game Industry Page</h2>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all page in MOCK Database</h2>
    </div>
</div>
<GameListTable Games="games"></GameListTable>
<IndividualGame Game="games[0]" DisplayButtons="true" />

@code
{
    private List<Game> games;
    /// <summary>
    /// Метод отвечает за данные до отрисовки
    /// </summary>
    /// <returns></returns>
    protected override void OnInitialized()
    {
        games = new List<Game>()
        {
        new Game(){ Name = "Farming Simulator 2019", Genre = "Simulator", ReleaseDate = new DateTime(2018,11,19)},
        new Game(){ Name = "Witcher", Genre = "Action/RPG", ReleaseDate = new DateTime(2015,5,18)},
        new Game(){ Name = "Destroy All Humans", Genre = "Action-Adventure", ReleaseDate = new DateTime(2007,11,19)},
        };
    }
}

