@page "/"

<div class="row">
    <div class="col text-center">
        <h2>Welcome to our Game Industry Page</h2>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all page in MOCK Database</h2>
    </div>
</div>
<GameListTable></GameListTable>
<GameListTable></GameListTable>
<GameListTable></GameListTable>

